<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etc.dao.UserMapper">

<select id="collectionTopic" resultType="java.lang.Integer">
select collectionTopics_id from collectionTopics
<where>
collectionTopics_userId=#{user_id} limit 0,1
</where>
</select>

<select id="collectionVideo" resultType="java.lang.Integer">
select collectionVideo_id from collectionVideo
<where>
collectionVideo_userId=#{user_id} limit 0,1
</where>
</select>

<select id="myTopic" resultType="java.lang.Integer">
select topics_id from topics
<where>
topics_user=#{user_id} limit 0,1
</where>
</select>

<select id="myVideo" resultType="java.lang.Integer">
select video_id from video
<where>
video_user=#{user_id} limit 0,1
</where>
</select>

</mapper>